{% load static %}
{% with request.resolver_match.url_name as url_name %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">DJHTMX</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if url_name == 'index' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'core:index' %}">
                        <i class="fa fa-home"></i>
                        Início
                    </a>
                </li>

                <li class="nav-item {% if url_name == 'region_list' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'state:region_list' %}">
                        <i class="fa fa-list"></i>
                        Regiões
                    </a>
                </li>

                <li class="nav-item {% if url_name == 'state_list' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'state:state_list' %}">
                        <i class="fa fa-list"></i>
                        Estados
                    </a>
                </li>


                <li class="nav-item {% if url_name == 'expense_list' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'expense:expense_list' %}">
                        <i class="fa fa-money-check"></i>
                        Despesas
                    </a>
                </li>
            </ul>

        </div>
    </nav>

{% endwith %}